In [2]:
import os
import pandas as pd

In [7]:
num_good = 0
for filename in os.listdir('./baseline_files'):
    code_str = open(f'./baseline_files/{filename}', 'r', encoding='utf-8').read()
    code_str = code_str[3+len('python'):-3]
    #print(code_str)
    try:
        x = compile(code_str, 'test', 'exec')
        num_good += 1
    except:
        continue
print(num_good)

38

In [3]:
eval_df = pd.read_feather('./file.feather')
eval_df.head()

        a               b
0  p02402  5\n10 1 5 4 17
1  p03316              12
2  p02995         4 9 2 3
3  p03129             3 2
4  p02612            1900

In [4]:
num_good = 0
for filename in os.listdir('./finetune_files'):
    code_str = open(f'./finetune_files/{filename}', 'r', encoding='utf-8').read()
    code_str = code_str[3+len('python'):-3]
    #print(code_str)
    try:
        x = compile(code_str, 'test', 'exec')
        num_good += 1
    except:
        continue
print(num_good)

46