In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('./log.tsv', delimiter='\t')
df.head()

       Problem Language
0  p00000.html       en
1  p00001.html       en
2  p00002.html       en
3  p00003.html       en
4  p00004.html       en

In [6]:
df.Language.value_counts()

Language
en    2669
ja    1327
hi       1
pt       1
ur       1
Name: count, dtype: int64